body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
}
.usd {
    margin-top: 50px;
}
input {
    padding: 10px 20px;
}

label {
    font-size: 20px;
}

.euro {
    margin-top: 50px;
}